<!DOCTYPE html>

<html>

    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h2>Admin Login</h2>

            <form action="/Alogin" method="post" class="login-form">

            <label for="id">ID:</label><br>
            <input type="text" id="id" name="id" class="input-field" required><br><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" class="input-field" required><br><br>

            <button type="submit" class="button">Login</button>
            </form>
        </div>
    </body>

</form>

</html>
