<!DOCTYPE html>

<html>

    <head>
        <title>Manage Users</title>
    </head>

    <h2>View and Manage Users</h2>

    <p>A LIST OF ADDED USERS WITH (EDIT) AND (DELETE) BUTTONS NEXT TO EACH ONE</p>

    <form action="/AddUser" method="post">

    <label for="type">User Type:</label><br>
    <select name="usertype" id="usertype">
        <option value="Professor">Professor</option>
        <option value="Student">Student</option>
        <option value="Admin">Admin</option>
    </select><br>

    <label for="id">ID:</label><br>
    <input type="text" id="id" name="id" required><br><br>

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">Add user</button>

    <h3>{{message}}</h3>

</html>