<html>
<head>
    <title>View Grades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Your Grades</h1>
        <hr>
        <br>
        <table class="table">
            <tr>
                <th>Course</th>
                <th>Grade</th>
            </tr>
            {% for course in grades %}
            <tr>
                <td>{{ course.course }}</td>
                <td>{{ course.grade }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><strong>Overall GPA</strong></td>
                <td><strong>{{ gpa }}</strong></td>
            </tr>
        </table>
    </div>
    <div>
        <a href="StudentHome" class = 'left-align'>
            <button class = 'button'>Back</button>
        </a>
    </div>
</body>
</html>
