body {
    font-family: Arial, sans-serif;
    align-self: center;
    padding: 0;
    background-color: #ffffff;
}
h1, h2, h3, p {
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}
a {
    color: #39d856;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    margin: auto;
    padding: 20px;
    text-align: center;
}
.header {
    padding: 2px 0;
    text-align: center;
    border-radius: 10px;
}
.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.button {
    background-color: #31bb4b;
    color: white;
    padding: 15px 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.button:hover {
    background-color: #2fa844;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.table th {
    background-color: #f2f2f2;
}
.table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.input-field:focus {
    border-color: #31bb4b;
    outline: none;
}

.login-form {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

.login-form .button {
    margin-left: 0;
}

.table td.center-content {
    text-align: center;
    width: 300px;
}

.small-table {
    width: 50%;
    margin: 0 auto;
}
.left-align {
    text-align: left;

}

.button.logout-btn:hover {
    background-color: #af2c23;
}